/* Universal Style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.ligt_mode{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #edefeb;
    /*Light mode color
    --text: #171915;
    --background: #edefeb;
    --primary: #b7b0bf;
    --secondary: #e8e3e8;
    --accent: #73748c;*/
    /*dark mode color
    --text: #fafafa;
    --background: #050505;
    --primary: #b7b0bf;
    --secondary: #1c171c;
    --accent: #abacba;
    */
}

/*Navigation link*/
.navbar_container .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none !important;
}

.nav-list .nav_link{
    text-decoration: none;
    color: #171915;
    font-weight: 400;
}

.nav-list .list-item{
    margin-left: 10px;
    margin-right: 10px;
}